* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: #111;
}

/* navbar */
nav {
  background: #fff;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.95;
}

.logo {
  margin-right: auto;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  padding-right: 40px;
  padding-left: 40px;
}

.nav-item {
  padding-right: 22px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  transition: all ease 0.5s;
}

.nav-link:hover {
  color: #A1887F;
}

.banner {
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background: url('./img/banner.jpg');
  color: #fff;
}

.main-heading {
  margin-bottom: 1%;
}

.about-btn {
  margin-top: 1%;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all ease 0.5s;
}

.about-btn:hover {
  color: #fff;
  background: #A1887F;
  border: 2px solid #A1887F;
}

.container {

}

/* about section */
.about {
  height: 100vh;
  background:url('./img/beans.jpg');
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.heading {
  padding-top: 5%;
  text-transform: uppercase;
  margin-bottom: 2%;
  text-align: center;
}

.about-text {
  max-width: 65%;
  margin: 0 auto;
}

/* menu section */
.menu {
  background: #222;
  color: #fff;
  text-align: center;
}

.drinks,
.food {
  height: 50vh;
  padding-top: 5%;
  background-image: url('./img/wood.jpg');
}

.food-menu {
  padding-bottom: 5%;
}

.menu-row {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
}

.menu-col {
  height: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 35%;
  width: 35%;
  margin-bottom: 2%;
}

/* social */
.social {
  background: #111;
  padding-bottom: 1%;
  color: #fff;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
  list-style: none;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.social-links a {
  color: #A1887F;
}

.grow {
  transition: all .5s ease;
}

.grow:hover {
  transform: scale(1.2);
}

/* contact */
.contact {
  margin-bottom: 1%;
  padding-top: 2%;
  background: #111;
  color: #fff;
}

.row {
  display: flex;
}

.col {
  flex: 50%;
  padding-left: 20%;
  line-height: 2.5rem;
}

/* footer */
footer {
  text-align: center;
  color: #fff;
  background: #000;
  padding: 20px;
}

/* Media queries */
@media only screen and (max-width: 980px) {
  .about-text {
    max-width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .about-text {
    max-width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    position: static;
  }

  .nav-links {
    flex-direction: column;
  }

  .logo {
    margin: 0 auto;
  }

  .about-text {
    max-width: 90%;
  }

  .menu-row {
    flex-direction: column;
    align-items: center;
  }

  .menu-col {
    width: 90%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  span,
  p {
    margin-bottom: 2%;
  }

  .social-links {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }

  .col {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-bottom: 5%;
  }
}